@media(min-width:576px)
{
    .navbar
    {
        height: 60px;
        width: 100%;
    }
    .navbarcontainer
    {
        height: 60px;
        width: 80%;
        margin: auto;
    }
    .banner
    {
        height: 350px;
        width: 100%;
    }
    .banner-container
    {
        height: 350px;
        width: 80%;
        margin:auto;
    }
    .gallery
    {
        height: 350px;
        width: 100%;
    }   
    .gallerycontainer
    {
        height: 300px;
        width: 80%;
        
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .box
    {
        height: 70px;
        width: 80%;
        flex-wrap: wrap;
        align-items: center;
    }
    .box img
    {
        height: 90px;
        width: 80%;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media(min-width:768px)
{
    .gallery
    {
        height: 350px;
        width: 100%;
        
    }
    .gallerycontainer
    {
        height: 300px;
        width: 80%;
        ;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .box
    {
        height: 120px;
        width: 40%;
        flex-wrap: wrap;
        align-items: center;
    }
    .box img
    {
        height: 120px;
        width: 100%;
    }
}
@media(min-width:992px)
{
    .gallery
    {
        height: 350px;
        width: 100%;
      
    }
    .gallerycontainer
    {
        height: 300px;
        width: 80%;
        
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .box
    {
        height: 150px;
        width: 32%;
    }
    .box img
    {
        height: 155px;
        width: 100%;
    }
}
@media(min-width:1200px)
{
    .gallery
    {
        height: 350px;
        width: 100%;
    }
    .gallerycontainer
    {
        height: 300px;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .box
    {
        height: 170px;
        width: 30%;
    }
    .box img
    {
        height: 170px;
        width: 100% ;
    }
}